<section>
	<h2>Documentation</h2>
	<h3>Stack</h3>
	<p>
		The site uses a meta-framework called <a
			href="https://astro.build/blog/astro-5/">Astro</a
		>, which helps combine application/modules originally coded in different languages.
	</p>
	<p>
		If you are new to Astro, do not worry! Astro is very easy to use. 
	</p>
	<p>
		Additionally, you might not even need to code Astro. Top-level Astro
		components are mainly wrappers for other modules coded in more popular
		languages/stacks, for instance, Python and React.
	</p>
	<p>
		To get a sense of the project, start by checking <code>src/pages</code> directory
		in the project folder.
	</p>
</section>
